@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<header id="head">
    <div class="container">
        <div class="banner-content">
            <div id="da-slider" class="da-slider">
                <div class="da-slide">
                    <h2>Educație online</h2>
                    <p>Site uimitor gratuit, bucurați-vă !!!<p>
                        <div class="da-img"></div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- /Header -->


<div id="courses">
    <div class="container">
        <h2>Cursuri online</h2>
        <div class="row">
            <div class="col-md-4">
                <div class="featured-box">
                    <i class="fa fa-eye fa-2x"></i>
                    <div class="text">
                        <h3>Introducere in POO</h3>
                        Un program scris intr-un limbaj orientat spre obiecte (POO) reprezinta un model al unei parti
                        din lumea reala.
                    </div>
                </div>
            </div>
        </div>
    </div>
