body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-image: url('../images/backg.jpg');
    background-repeat: no-repeat;
}


.course-container {
    background-color: white;
    width: 100%;
    float: left;
    padding: 20px;
    margin:20px;
    padding:20px;
}

.full-width {
    width: calc(100% - 80px);
    box-sizing: border-box;
    margin-left: 40px;
    margin-right: 40px;
}

